.me-auto {
  margin: auto !important;
}
.bg-light {
  --bs-bg-opacity: 0;
  color: white;
}
.landing__page {
  height: 100vh;
}
.container__Nav {
  display: flex;
  flex-direction: row;
  padding-top: 0.4em;
}
.Nav__Logo {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 7%;
}
.nav-link {
  color: white !important;
}
.btnNav__two {
  border-radius: 32px;
  width: 130px;
}

.navBtns {
  display: flex;
  justify-content: center;
  padding-top: 0.6em;
}
.landing__info {
  height: 74%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.info__text {
  margin-top: 8%;
  margin-left: 4rem;
}
.info__btn {
  background-color: transparent;
  border-radius: 40px;
  border: solid 1px;
  border-color: #ff5c63;
  box-shadow: inset 0 0 10px #ff5c63;
  font-size: 1.4rem;
  color: #ff5c63;
  padding: 1rem;
  padding-top: 0.7rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 2rem;
}
.container__card {
  display: flex;
  flex-direction: row;
  margin-left: -4rem;
}
.cardInfo {
  height: 8rem;
  width: 20%;
  border-radius: 0%;
  bottom: 0%;
  display: flex;
  justify-content: center;
}
.cardSpecial {
  background-color: #ff5c63;
  border-top-right-radius: 8px;
}
.col-sm-3 {
  display: flex;
  justify-content: center;
}

.nav_link {
  color: #d6d4da !important;
}

.nav-link:hover {
  color: white !important;
}

.active_link {
  color: white !important;
  border-bottom: #ff5c63 solid 2px;
}

.button_non_active {
  border: none !important;
}

.page_two {
  width: 100%;
  height: 100vh;
  padding: 4rem;
  display: flex;
  flex-direction: column;
}

.page_two__sections {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
}
.cardHolder {
  position: absolute;
}
.container__card {
  position: relative;
}
